/*
************************
    ### PARAMETERS ###
************************
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@font-face {
    font-family:'Sport' ;
    src: url(../fonts/212\ Sports.otf) format('opentype');
}

:root {
    --color0: #ebe5c5;
    --color1: #d2d605;
    --color2: #b6f4dd;
    --color3: #04AA6D;
    --color4: #125fe4;
    --color5: #ff703d;
    --color6: #472563;
    --color7: #f2f2f2;
    --color8: #ddd;

    --font-standard: Arial, Verdana, Helvetica, sans-serif;
    --font-emphasis: 'Courgette', cursive;
    --font-sport: 'Sport', cursive;
}


/*
************************
    ### GENERAL ###
************************
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-color: var(--color0);
    font-family: var(--font-standard);
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 10px;
}


/*
************************
    ### HEADER ###
************************
*/
header{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-image: url("../img/theme_abstract-267046_1920.png");
}

header nav{
    float: right;
}


/*
************************
   ### MOBILE MENU ###
************************
*/
nav.mobile-menu{
    display: none;
}

nav.mobile-menu {
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-menu-celular-branco.png");
    background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
    opacity: 1;
}

nav.mobile-menu ul{
    opacity: 0;
    transition: 1s;
    background-color: white;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 80px;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li{
    padding: 8px 0;
    transition: 0.4s;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover{
    background-color: var(--color8);
}

nav.mobile-menu ul li a{
    color: black;
    text-decoration: none;
}


/*
************************
  ### DESKTOP MENU ###
************************
*/
header nav.desktop-menu ul{
    list-style-type: none;
    margin: 5% auto;
    padding: auto;
}

header nav.desktop-menu li{
    float: left;
    padding: 0 20px;
}

header nav.desktop-menu li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .3s;
}

nav div a {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}

header nav.desktop-menu li a:hover {
    background-color: var(--color1);
    color: var(--color3);
}


/*
************************
    ### CONTENT ###
************************
*/
.headline1{
    margin-top: 20px;
}

.content1-headline1{
    text-align: center;
}

.profile-image-headline1 img{
    min-width: 300px;
    width: 25%;
    margin: 1%;
    padding: 1%;
    background-color: var(--color1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.content1-headline1 h2{
    font-family: var(--font-emphasis);
    font-size: 2.6em;
    font-weight: bold; 
    min-width: 400px;
}

.content1-headline1 h3{
    font-family: var(--font-standard);
    font-size: 1.8em;
    font-weight: bold; 
    min-width: 350px;
}

.content2-headline1 ul{
    display: flex;
}

.content2-headline1 ul li{
    margin: 20px;
    min-width: 110px;
}

main{
    min-width: 300px;
    max-width: 1280px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

main a {
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

main a:hover {
    background-color: var(--color1);
    color: var(--color3);
}

.section0{
    padding: 20px 0;
    text-align: justify;
}

.section0 h2{
    color: white;
    background-image: linear-gradient(to right, var(--color3), transparent);
}

.section1 div h3{
    color: white;
    padding: 10px;
    text-align: center;
    background-color: var(--color3);
}

.wrap-content-section1{
    display: flex;
    justify-content: center;
    background-color: var(--color2);
    padding: 15px;
}

.wrap-content-section1 div{
    margin: auto auto;
}

.img-section1{
    display: flex;
}

.img-section1 img{
    max-width: 250px;
    max-height: 300px;
    width: 30%;
    object-fit: cover;
    object-position: top;
    margin: 1%;
    padding: 1%;
    background-color: var(--color1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.section2{
    margin: 20px 0;
}

.section2 h3{
    color: white;
    background-image: linear-gradient(to right, var(--color3), transparent);
}

.section3{
    margin: 20px 0;
}

.section3 h3{
    color: white;
    background-image: linear-gradient(to right, var(--color3), transparent);
}

.section4{
    margin: 20px 0;
}

.section4 h3{
    color: white;
    background-image: linear-gradient(to right, var(--color3), transparent);
}

.section5{
    margin: 20px 0;
}



/*
************************
     ### TABLES ###
************************
*/
/* General tables */
.tables {
    border-collapse: collapse;
    width: 100%;
    min-width: 800px;
}
  
.tables td, .tables th {
    border: 1px solid var(--color8);
    padding: 8px;
    text-align: left;
}

.tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color4);
    color: white;
}

.tables tr:nth-child(even){
    background-color: var(--color7);
}

.tables tr:hover {
    background-color: var(--color8);
}

#tables-number-section2 td:nth-child(5), #tables-number-section2 td:nth-child(6) {
  text-align: right;
}

#tables-number-section3 td:nth-child(2), #tables-number-section3 td:nth-child(3), 
#tables-number-section3 td:nth-child(4), #tables-number-section3 td:nth-child(5),
#tables-number-section3 td:nth-child(6), #tables-number-section3 td:nth-child(7),
#tables-number-section3 td:nth-child(8) {
  text-align: right;
}

/* Center tables */
#tables-center {
    border-collapse: collapse;
    width: 100%;
    min-width: 800px;
}
  
#tables-center td, #tables-center th {
    border: 1px solid var(--color8);
    padding: 8px;
    text-align: center;
}

#tables-center th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--color4);
    color: white;
}

#tables-center tr:nth-child(even){
    background-color: var(--color7);
}

#tables-center tr:hover {
    background-color: var(--color8);
}

.content1-section2{
    overflow-y: auto;
    height: 110px;
    min-height: 60vh;
}

.content1-section3{
    overflow-y: auto;
    height: 110px;
    min-height: 60vh;
}

.content1-section4{
    overflow-y: auto;
    height: 110px;
    min-height: 60vh;
}

section.section4 div p{
    margin: 15px 0px 30px 0px;
}

.table-sticky{
    position: sticky;
    top: 0px;
}

.ref{
    font-size: .8em;
}


/*
************************
   ### CONTACT ME ###
************************
*/

section.section5{
    background-color: var(--color6);
    padding: 100px 0;
    text-align: justify;
    border-radius: 10px;
}

.form{
    float: left;
    width: 50%;
    color: white;
    padding-left: 10px;
}

.form h2{
    font-size: 23px;
}

.form p{
    font-size: 14px;
    max-width: 500px;
    padding-right: 10px;
}

.form form{
    margin-top: 15px;
}

.form form input[type=text]{
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    height: 58px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid var(--color8);
}

.form form textarea{
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    padding: 15px 8px;
    border: 1px solid var(--color8);
    height: 160px;
}

.form form input[type=submit]{
    border: 0;
    background-color: var(--color5);
    width: 165px;
    height: 44px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 30px;
}

.map-wraper{
    float: left;
    width: 50%;
    padding: 0 10px;
    color: white;
}

.map-wraper h2{
    font-size: 23px;
}

.map-wraper3{
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
    position: relative;
}

.map-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
}

.map{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 5px solid var(--color8);
}

.map-iframe{
    width: 100%;
    height: 100%;
}


/*
************************
     ### FOOTER ###
************************
*/
footer div.container {
    padding: 10px;
    text-align: center;
}

footer div.container p{
    padding-bottom: 10px;
}

.footer-links a img{
    max-width: 30px;
    border-radius: 5px;
    margin: 0px 10px;
}



/*
************************
  ### MEDIA QUERIES ###
************************
*/

@media screen and (max-width: 768px){

    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }

    .container{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0px 10px;
    }

    .content1-headline1{
        display: inline-block;
        margin-top: 30%;
        font-size: 10px;
        align-items: center;
    }

    .content1-headline1 h2{
        font-size: 2em;
    }

    .content1-headline1 h3{
        font-size: 1.5em;
    }

    .content2-headline1 {
        text-align: center;
    }

    .content2-headline1 ul{
        display: inline-block;
        text-align: center;
        list-style: none;
    }
    
    .content2-headline1 ul li{
        margin: 20px;
        min-width: 100px;
    }
   
    .wrap-content-section1{
        display: flex;
        flex-direction: column;
    }

    .content1-section1{
        text-align: left;
        min-width: 270px;
    }

    .content2-section1 ul{
        text-align: left;
        min-width: 270px;
    }

    .form{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form p{
        display: inline-block;
        text-align: justify;
        padding: 0 2%;
    }

    .map-wraper{
        float: none;
        width: 100%;
        padding: 0 4%;
        margin-top: 40px;
        text-align: center;
    }

    .map-wraper3{
        margin-top: 10px;
        width: 80%;
        padding-top: 80%;
        display: inline-block;
        max-width: none;
        position: relative;
    }
    
    .map-wraper2{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 100%;
    }

    .sidenav {
        width: 50px;
        top: calc(100% - 68px);
    }
   
    .sidenav a {
        font-size: 10px;
        padding: 4px 5px 4px 7px;
    }

}

@media screen and (max-width: 440px){ 

    .profile-image-headline1 img{
        min-width: 200px;
        margin-top: 50px;
    }
    
    .content1-headline1 h2{
        min-width: 100px;
    }
    
    .content1-headline1 h3{
        min-width: 50px;
    }

    .wrap-content-section1{
        display: flex;
        justify-content: center;
        background-color: var(--color2);
    }
    
    .wrap-content-section1 div{
        margin: auto auto;
    }

    .wrap-content-section1 div ul{
        list-style: none;
    }

    .section1 h3 {
        font-size: 0.95em;
    }

    .content2-section1 ul, .content1-section1 ul{
        font-size: .8em;
    }

    #bottom p{
        font-size: .7em;
    }

    .footer-links a img{
        max-width: 25px;
    }

}
