*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 10px;
}

header{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-image: url("../img/theme_abstract-267046_1920.png");
}

header nav{
    float: right;
}





/*
************
MOBILE MENU
************
*/
nav.mobile-menu{
    display: none;
}

nav.mobile-menu {
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-menu-celular-branco.png");
    background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
    opacity: 1;
}

nav.mobile-menu ul{
    opacity: 0;
    transition: 1s;
    background-color: white;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 80px;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li{
    padding: 8px 0;
    transition: 0.4s;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover{
    background-color: rgb(230,230,230);
}

nav.mobile-menu ul li a{
    color: black;
    text-decoration: none;
}





/*
*************
DESKTOP MENU
*************
*/
header nav.desktop-menu ul{
    list-style-type: none;
    margin: 5% auto;
    padding: auto;
}

header nav.desktop-menu li{
    float: left;
    padding: 0 20px;
}

header nav.desktop-menu li a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}





/*
********
CONTENT
********
*/
.headline1{
    margin-top: 20px;
}

.content1-headline1{
    text-align: center;
}

.profile-image-headline1 > img{
    width: 25%;
    margin: 1%;
    padding: 1%;
    background-color: #d2d605;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.content2-headline1 ul{
    display: flex;
}

.content2-headline1 ul li{
    margin: 20px;
}

.section1 > div > h3{
    padding: 10px;
    text-align: center;
    background-color: #04AA6D;
}

.wrap-content-section1{
    display: flex;
    justify-content: center;
    background-color: #b6f4dd;
}

.wrap-content-section1 > div{
    margin: auto auto;
}

.img-section1{
    display: flex;
}

.img-section1 > img{
    max-width: 250px;
    max-height: 300px;
    width: 30%;
    object-fit: cover;
    object-position: top;
    margin: 1%;
    padding: 1%;
    background-color: #d2d605;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

section.section0{
    padding: 20px;
}

section.section2{
    margin: 20px 0;
}

section.section3{
    margin: 20px 0;
}

section.section4{
    margin: 20px 0;
}

section.section5{
    margin: 20px 0;
}





/*
***************
### TABLES ###
***************
*/
/* General tables */
.tables {
    border-collapse: collapse;
    width: 100%;
}
  
.tables td, .tables th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #125fe4;
    color: white;
}

.tables tr:nth-child(even){background-color: #f2f2f2;}

.tables tr:hover {background-color: #ddd;}

/* Center tables */
#tables-center {
    border-collapse: collapse;
    width: 100%;
}
  
#tables-center td, #tables-center th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#tables-center th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #125fe4;
    color: white;
}

#tables-center tr:nth-child(even){background-color: #f2f2f2;}

#tables-center tr:hover {background-color: #ddd;}





/*
*******************
### CONTACT ME ###
*******************
*/

section.section5{
    background-color: #472563;
    padding: 100px 0;
    text-align: justify;
}

.form{
    float: left;
    width: 50%;
    color: white;
    padding-left: 10px;
}

.form h2{
    font-size: 23px;
}

.form p{
    font-size: 14px;
    max-width: 500px;
    padding-right: 10px;
}

.form form{
    margin-top: 15px;
}

.form form input[type=text]{
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    height: 58px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200, 200, 200);
}

.form form textarea{
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    padding: 15px 8px;
    border: 1px solid rgb(200, 200, 200);
    height: 160px;
}

.form form input[type=submit]{
    border: 0;
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 30px;
}

.map-wraper{
    float: left;
    width: 50%;
    padding: 0 10px;
    color: white;
}

.map-wraper h2{
    font-size: 23px;
}

.map-wraper3{
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
    position: relative;
}

.map-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
}

.map{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 5px solid rgb(200, 200, 200);
}

.map-iframe{
    width: 100%;
    height: 100%;
}





/*
*****************
### SIDE BAR ###
*****************
*/
.sidenav {
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}





/*
***************
### FOOTER ###
***************
*/
footer div.container {
    padding: 10px;
    text-align: center;
}

footer div.container p{
    padding-bottom: 10px;
}

.footer-links a img{
    max-width: 30px;
    border-radius: 5px;
    margin: 0px 10px;
}





/*
**********************
### MEDIA QUERIES ###
**********************
*/

@media screen and (max-width:1512px){

    .container{
        margin-left: 110px;
    }
}

@media screen and (max-width: 768px){

    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }

    .container{
        max-width: 1280px;
        margin: 0 auto;
        margin-left: 110px;
        padding: 0px 10px;
    }

    .content1-headline1{
        display: inline-block;
        margin-top: 30%;
        font-size: 10px;
        align-items: center;
    }

    .sidenav {
        width: 50px;
        top: calc(100% - 68px);
    }

   
    .sidenav a {
        font-size: 10px;
        padding: 4px 5px 4px 7px;
    }

    .wrap-content-section1{
        display: flex;
        justify-content: center;
        background-color: #b6f4dd;
    }
    
    .wrap-content-section1 > div{
        margin: auto auto;
    }



    .form{
        float: none;
        width: 100%;
    }

    .form p{
        display: inline-block;
    }

    .map-wraper{
        float: none;
        width: 100%;
        padding: 0 4%;
        margin-top: 40px;
    }

    .map-wraper3{
        margin-top: 10px;
        width: 80%;
        padding-top: 80%;
        display: inline-block;
        max-width: none;
        position: relative;
    }
    
    .map-wraper2{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 0%;
    }

}
